/*input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 0 auto;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
button {
  background-color: #4caf50;
  color: white;
  /* padding: 14px 20pc; */
/* margin: 8px 0; 
  border: none;
  cursor: pointer;
  /* width: 100%; 
  opacity: 0.9;
}
button:hover {
  opacity: 1;
}
/* .cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}
.cancelbtn {
  float: left;
  width: 50%;
} 
.container {
  margin: auto;
  width: 600px;
  /* padding: 16px; 
}

.signupbtn {
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 8px;
  margin-right: 8px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.forgot-form {
  width: 80%;
  align-content: center;
  margin: auto;
  padding: 20px;
}

@media screen and (max-width: 300px) {
  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
}
*/

.main {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 23px;
  font-weight: bold;
}
form {
  border: 3px solid #f1f1f1;
  font-family: "Roboto", sans-serif;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  margin-left: 10px;
  background-color: #f44336;
  font-family: "Roboto", sans-serif;
}

/* .imgcontainer {
    width: 400px;
    height: 400px;
  } */

.container {
  margin-top: 100px;

  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  width: 600px;
  font-family: "Roboto", sans-serif;
}

span.psw {
  float: right;
  padding-top: 16px;
}
