input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 0 auto;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
button {
  background-color: #4caf50;
  color: white;
  /* padding: 14px 20pc; */
  /* margin: 8px 0; */
  border: none;
  cursor: pointer;
  /* width: 100%; */
  opacity: 0.9;
}
button:hover {
  opacity: 1;
}
a {
  color: pink;
}
/* .cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}
.cancelbtn {
  float: left;
  width: 50%;
} */
.container {
  margin: auto;
  width: 600px;
  /* padding: 16px; */
}

.signupbtn {
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 8px;
  margin-right: 8px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.forgot-form {
  width: 80%;
  align-content: center;
  margin: auto;
  padding: 20px;
}

@media screen and (max-width: 300px) {
  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
}
