body {
  font-family: "Roboto", sans-serif;

  margin: 0;
  overflow: hidden;
  overflow-y: auto;
}

.app {
  margin-left: 160px;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #333740;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s all linear;
}

.sidenav a:hover {
  background: #f1f1f1;
  color: #333740 !important;
  font-size: 26px; /*Increased text to enable scrolling*/
}
.grid {
  display: grid;
  grid-template-columns: auto auto auto;
}

.column h3 {
  text-align: center;
}

.assignmentlist {
  list-style: none;
}

.assignmentlist li {
  padding-top: 8px;
  padding-bottom: 8px;
}

.utilbar {
  width: 100%;
  height: 65px;
  margin-left: 160px;
  padding: 0;
  background-color: #d82631;
}

.utilbargrid h1 {
  color: white;
}

.topbar {
  display: grid;
  grid-template-areas: "text text text";
  grid-template-columns: repeat(1ft, 3);
  background-color: rgb(173, 10, 10);
}

.topbar h3 {
  text-align: center;
  color: white;
}

.main {
  padding-left: 65px;
  padding-bottom: 7px;
  font-size: 30px;

  line-height: 1.4;
  padding-top: 15px;
  color: #d82631;
}

.profile {
  display: grid;
  font-size: 17px;
  line-height: 1.4;
  width: auto;
  height: auto;

  padding-left: 30px;
  padding-right: 80px;
  padding-top: 20px;
  grid-template-columns: 80px repeat(3, 1fr);
  grid-template-rows: repeat(2, 50px);
  border: #333740 solid 2px;
  margin-right: 65px;
  margin-left: 65px;
}

img {
  border-radius: 50%;
}

.firstName,
.lastName,
.startDate {
  /*border-top: #333740 solid 2px;*/
  padding-top: 5px;
}

.skills {
  grid-column-start: 2;
  grid-column-end: 4;
  padding-bottom: 10px;
  /*border-bottom: #333740 solid 2px;*/
}

/*.box {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding-top: 60px;
  text-align: center;
  padding-left: 295px;
  padding-right: 170px;
  max-width: 1300px;
}*/
.knowledgeArea {
  grid-column-start: 2;
  grid-column-end: 13;
  background-color: #d82631;
  color: white;
  padding-left: 128px;
}

.table {
  justify-content: center;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: 125px repeat(11, 35px);
  grid-template-rows: 30px 210px repeat(4, 30px);
  padding-top: 40px;
  font-size: 17px;
  line-height: 1.4;
}

.configurationManagement,
.construction,
.design,
.foundations,
.maintenance,
.modelsAndMethods,
.process,
.management,
.quality,
.requirements,
.testing {
  border: 1px #333740 solid;
  text-align: center;

  writing-mode: vertical-lr;

  transform: rotate(180deg);
  background-color: #d82631;
  color: white;
}

.capabilityLevel,
.introductory,
.competence,
.leadership,
.mastery,
.blank {
  border: 1px #333740 solid;
  text-align: center;

  background-color: #d82631;
  color: white;
}

.capabilityLevel {
  padding-top: 100px;
  grid-row-start: 1;
  grid-row-end: 3;
}

.grid2 {
  height: auto;
  width: auto;
  min-height: 500px;
  max-height: 1200px;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 7% 23% 30% 40%;
  padding-left: 70px;
  padding-right: 45px;
  padding-bottom: 15px;
}
.category,
.activity,
.reading,
.blank1,
.training,
.blank2,
.professionalExperience,
.blank3 {
  border-bottom: 2px #333740 solid;

  font-weight: 200px;
}

.category,
.reading,
.training,
.professionalExperience {
  border-right: 2px #333740 solid;
  border-left: 2px #333740 solid;
}

.category,
.activity {
  background-color: #d82631;
  color: white;
  border-top: 2px #333740 solid;
}

.activity,
.blank1,
.blank2,
.blank3 {
  border-right: 2px #333740 solid;
}
