body {
  font-family: "Roboto", sans-serif;
}

.app {
  margin-left: 100px;
  margin-top: 50px;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #333740;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s all linear;
}

.sidenav a:hover {
  background: #f1f1f1;
  color: #333740 !important;
  font-size: 26px; /* Increased text to enable scrolling */
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  padding-top: 30px;
}

.main {
  padding-top: 30px;
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  font-size: 33px;
}
.list {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  font-size: 17px;
  text-decoration: underline;
}

.utilitybar {
  position: fixed;
  top: 0;
  left: 0;
  height: 65px;
  width: 100%;
  background-color: #d82631;
  margin-left: 160px;
  margin-right: 160px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.utilitybargrid {
  float: right;
  box-sizing: border-box;
  margin-right: 160px;
  display: grid;
  grid-template-columns: 100px 100px;
  grid-column-gap: 20px;
  height: 100%;
}

.button {
  width: 100px;
  background-color: white;
  color: #333740;
  float: right;
  margin-top: 12px;
  margin-bottom: 8px;
  border: none;
  font-size: 16px;
  border-radius: 8px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 80px;
  height: 40px;
}

/* .left-grid-button {
    grid-area: left;
  }
  
  .right-grid-button {
    grid-area: right;
  } */
/* .button {
    width: 100px;
    background-color: white;
    color: #333740;
    float: left;
    margin-top: 8px;
    margin-bottom: 8px;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    transition-duration: 0.4s;
    cursor: pointer;
  } */

.button:hover {
  background-color: lightgray;
}

input {
  margin-left: 350px;
  margin-top: 30px;
}
