.sidebar {
  background-color: #333740;
  min-height: 100%;
  max-width: 200px;
  min-width: 200px;
  margin: 0px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  padding-left: 0px;
}

.listItemGrid {
  display: grid;
  grid-template-columns: 0.5fr, 1fr;
  align-items: center;
}

.listItem {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  min-height: 45px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  color: white;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
}

.listItem:hover {
  background-color: white;
  color: #333740;
  font-size: 19px;
  transition: 0.3s all linear;
}
