form {
  border: 3px solid #f1f1f1;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* .imgcontainer {
  width: 400px;
  height: 400px;
} */

.container {
  margin: 0 auto;
  min-width: 400px;
  max-width: 600px;
  padding-left: 20px;
  padding-right: 20px;
}

span.psw {
  float: right;
  padding-top: 16px;
}
